body {
                background-image: url('assets/new-bb-full.png');
                background-attachment: fixed;
                background-repeat: no-repeat;
                background-size: 100% 100%;  
                overflow: hidden;
            }
div {
    width: 40rem;
}

.info {
    background-color: chartreuse;
    color: orangered;
}
#youngboy {
    transition: all 4500ms linear(0, 1);
    transform: translateX(100%);
    width: 50vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50vw;
}

#youngboy.move {
    transform: translateX(0%);
}

.watermark {
    text-align: center;
    color: red;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}