* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}



#bbfull.full {
    /* transform: scale(0.5, 1); */
    position: absolute;
    width: 50vw;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 2000ms linear(0, 1) 
}
#bbfull {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

#beabadoobee {
    opacity: 1;
    transition: all 4500ms linear(0, 1);
    background-image: url('assets/new-bb-half.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 50vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

#youngboy {
    opacity: 1;
    transition: all 4500ms linear(0, 1);
    background-image: url('assets/new-yb-half.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 0;
    left: 50vw;
    width: 50vw;
    height: 100vh;
    position: absolute;
}

#ybfull {
    width: 100vw;
    height: 100vh;
}

#beabadoobee.move{
    position: absolute;
    transform: translateX(-100%);
}

#youngboy.move {
    position:absolute;
    transform: translateX(100%);
}

#youngboy:hover {
    opacity: 1;
}
#beabadoobee:hover {
    opacity: 1;
}