/* body {
    background-image: url('assets/beabadoobee-half.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 50% 100%;  
} */

#boxes {
    display: flex;
    background-color:cadetblue;
    color: cadetblue;
}

#beabadoobee {
    background-image: url('assets/beabadoobee-half.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 50vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

#youngboy {
    background-image: url('assets/youngboy-half.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 0;
    left: 50vw;
    width: 50vw;
    height: 100vh;
    position: absolute;
}